#root {
  display: flex;
  text-align: center;
}

@font-face {
  font-family: BrandonBLK;
  src: url(../../public/BrandonText-Black.otf);
}

@font-face {
  font-family: BrandonLGT;
  src: url(../../public/BrandonText-Light.otf);
}

h1 {
  font-size: 2.5rem;
}

svg {
  margin-right: 10px;
}

.table-dark {
  background-color: #212529!important;
}

.app-content {
  flex-grow: 1;
  font-family: BrandonLGT;
}

.app-centralized-content {
  width: 90%;
  margin-left: 5%;
  text-align: left;
}
  
.form-actions {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
  
.form-actions button {
  margin-left: 10px;
}

.card {
  font-size: 20px;
}



@media only screen and (min-width: 1200px) {
  .app-centralized-content {
    width: 80%;
    margin-left: 10%;
  }
}

